PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/ai-supportdesk?retryWrites=true&w=majority
JWT_SECRET=replace_this_with_a_long_random_secret_string
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:4173
AI_SERVICE_URL=http://localhost:8000
AI_SERVICE_API_KEY=replace_with_your_own_internal_key
EMAIL_USER=replace_with_your_gmail_address
EMAIL_PASS=replace_with_your_16_char_gmail_app_password
EMAIL_FROM_NAME=Support Team